:root {
  --preto: #290a0a;
  --vermelha: #33050a;
  --vermelha-escura: #af303f;
 --branca: rgb(225, 225,225);
 --luz: rgb(229, 255, 0);
 --rosa: #FF00FF;
 --roxo:rgb(128, 0, 128);
 --azul:rgb(0, 0, 255);
}

body {
  align-items: center;
  background-image: url("../images/fundo-de-patchwork-africano-com-design-tradicional-de-motivo-africano_41901-1861\ \(1\).jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  box-shadow: 3px 3px 0 var(--branca);
  margin-bottom: 40px;
  font-size:7rem;
  font
}

.teclado {
  background: linear-gradient(to bottom, #240505 0%,#180101 100%);
  box-shadow: 6px 8px 0 6px #030101, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--roxo);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--branca);
  color: var(--azul);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
